---
import Navbar from '../components/Navbar.astro';
---


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/logo.png" />
        <meta name="generator" content={Astro.generator} />
        <title id="page-title">Loading...</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet">
    </head>
    <body>
        <Navbar />
        <div class="article-container">
            <div class="title-container">
                <div style="width: 80%">
                    <div id="article-tag-container"></div>
                    <h1 id="article-title">Loading...</h1>
                </div>
            </div>
            <div class="info-container">
                <img id="article-image" src="/logo.png" class="article-image" style="display: none;" />
                <div style="margin-top: -35px;">
                    <p id="article-description" class="article-description">Loading...</p>
                    <div class="author-credits">
                        <p>By: Zain Javaid</p>
                    </div>
                </div>
            </div>
            <p id="image-credits" class="image-credits">Image Credits: Loading...</p>
            <div class="content-container">
                <p id="content"></p>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', async () => {
                function getQueryParams() {
                    const params = new URLSearchParams(window.location.search);
                    return Object.fromEntries(params.entries());
                }

                const { post } = getQueryParams();

                if (post) {
                    try {
                        const response = await fetch(`${import.meta.env.PUBLIC_BACKEND_URL}/get-article/${post}`);
                        if (response.ok) {
                            const data = await response.json();
                            const articleData = data.articles[0];

                            if (articleData) {
                                const article = {
                                    id: articleData[0],
                                    title: articleData[1],
                                    description: articleData[2],
                                    content: articleData[3],
                                    tags: articleData[4],
                                    slug: articleData[5],
                                    image_source: articleData[6],
                                    credits: articleData[7],
                                    date: articleData[8]
                                };

                                document.getElementById('page-title').textContent = article.title;
                                document.getElementById('article-title').textContent = article.title;
                                document.getElementById('article-description').textContent = article.description;
                                document.getElementById('article-image').src = `${import.meta.env.PUBLIC_BACKEND_URL}/${article.image_source}`;
                                document.getElementById('article-image').style.display = "inline-block";
                                document.getElementById('image-credits').textContent = `Image Credits: ${article.credits}`;
                                document.getElementById('content').innerHTML = article.content.replace(/\r\n|\r|\n/g, '<br>');

                                const tagContainer = document.getElementById('article-tag-container');
                                const tagList = article.tags.split(",");

                                if (tagList.length === 1) {
                                    tagContainer.style.marginBottom = "-25px";
                                } else {
                                    tagContainer.style.marginBottom = "-35px";
                                }

                                tagList.forEach(tag => {
                                    const tagElement = document.createElement('a');
                                    tagElement.innerText = tag;
                                    tagElement.className = 'article-tag';
                                    tagElement.href = `/archive?tag=${tag.replaceAll(' ', '-').toLowerCase()}`;
                                    tagContainer.appendChild(tagElement);

                                    if (tagList[tagList.length - 1] != tag) {
                                        const slashElement = document.createElement('p');
                                        slashElement.innerText = '/';
                                        slashElement.className = 'article-tag-sep';
                                        tagContainer.appendChild(slashElement);
                                    }
                                });
                                const codeBlocks = document.querySelectorAll('code');
                                codeBlocks.forEach(block => {
                                    block.innerHTML = block.innerHTML.replace(/<br\s*\/?>/gi, '\n').trim('\n');                                    
                                });

                                Prism.highlightAll();

                                fetch(`${import.meta.env.PUBLIC_BACKEND_URL}/analytics/new-article-view/${article.slug}`)
                                    .then(response => {
                                        if (!response.ok) {
                                            console.error('Failed to record article view:', response.statusText);
                                        }
                                    })
                                    .catch(error => console.error('Error in recording article view:', error));
                            } else {
                                console.error('Article not found.');
                            }
                        } else {
                            console.error('Failed to fetch article:', response.statusText);
                        }
                    } catch (error) {
                        console.error('Error fetching article:', error);
                    }
                } else {
                    console.error('No article ID found in query parameters.');
                }
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js" defer></script>
    </body>
</html>

<style is:global>
    html {
        font-family: system-ui, sans-serif;
        background: #fff;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    br {
        display: block;
        content: "";
        margin-top: 30px;
    }

    .article-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 100px;
    }

    .title-container {
        width: 70vw;
        justify-content: start;
    }

    #article-tag-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        font-size: 15px;
    }

    a {
        all: unset;
        color: #5200ff;
    }

    .article-tag {
        all: unset;
        color: #5200ff;
        font-weight: bold;
    }

    a:hover, .article-tag:hover {
        opacity: 0.6;
        text-decoration: underline;
        cursor: pointer;
        color: #FF5733;
    }

    #article-title {
        font-size: 45px;
    }

    .info-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 40px;
    }

    .article-image {
        width: 55%;
    }

    .article-description {
        font-size: 31px;
        font-weight: 300;
    }

    .author-credits {
        position: fixed;
        font-size: 16px;
    }

    .image-credits {
        font-size: 14px;
        font-weight: 500;
        color: gray;
    }

    .content-container {
        position: absolute;
        margin-top: 15px;
        font-size: 18px;
        line-height: 1.3;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 100px;
    }
</style>